{% extends '/auth/base-logout.html.twig' %}

{% block title %}Code de vérification{% endblock %}
{% block body %}
<h1>Entrez le code 2FA</h1>

<form action="{{ path('2fa_login_check') }}" method="POST">
    <div>
        <label for="_auth_code">Code Google Auth :</label>
        <input type="text" name="_auth_code" id="_auth_code" />
    </div>
    <button class="button button-submit">Se connecter</button>
</form>

{% endblock %}